<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>text</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Start Time</string>
		</dict>
		<dict>
			<key>text</key>
			<string>End Time</string>
		</dict>
		<dict>
			<key>text</key>
			<string>Unique ID</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>detailText</key>
			<string>     Use this trip for location simulation</string>
			<key>selector</key>
			<string>useTripForReplay</string>
		</dict>
	</array>
</array>
</plist>
